:root {
  --main: #252645;
  --side: #CECEDE;
  --pop: #000000;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.hero-left {
  width: 50vw;
  background-color: pink;
  display: flex;
  flex-direction: row;
}

.hero-left-left {
  width: 50%;
  height: 100%;
  background-color: lime;
  display: flex;
  flex-direction: column;
}

.greeting {
  width: 100%;
  height: 25%;
  background-color: var(--main);

  padding: .7em;
  font-size: 1.8em;
  line-height: 1.4em;
}

.cool-vid {
  width: 100%;
  height: 75%;
}

#map {
  object-fit: cover;
  width: 100%;
}

.hero-left-right {
  width: 50%;
  height: 100%;
  background-color: cyan;
}

.hero-right {
  width: 50vw;
  background-color: purple;

  display: flex;
  flex-direction: column;
}

.hero-right-top {
  width: 100%;
  height: 50%;
  background-color: orange;

  display: flex;
  flex-direction: row;
}

.cool-pattern {
  width: 50%;
  height: 100%;
  background-color: #cecede;
  opacity: 1;
  background-image: linear-gradient(
      #252645 1.7000000000000002px,
      transparent 1.7000000000000002px
    ),
    linear-gradient(
      to right,
      #252645 1.7000000000000002px,
      #cecede 1.7000000000000002px
    );
  background-size: 34px 34px;

  animation: move 10s linear infinite forwards;
}

@keyframes move {
	0% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 50% 100%;
	}
	
}

.cool-mockup {
  width: 50%;
  height: 100%;
  background-color: yellowgreen;
}

.hero-right-bottom {
  width: 100%;
  height: 50%;
  background-color: olive;
}
