.hero-container {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0%;
  height: 100%;
  width: 100%;
  font-family: "Staatliches";
  text-transform: uppercase;
  font-size: 6vw;
}

.hero-image {
  position: absolute;
  opacity: 1;
  width: 7vw;
}

.hero-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 960px) {
  .hero-image {
    width: 12vw;
  }
}
