.contact-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  max-width: 950px;
  min-height: 80vh;
  margin: auto;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pro-pic {
  width: 40vh;
  border-radius: 5%;
}

.contact-description {
  width: 60vw;
  text-align: left;
  font-size: 16pt;
}

.sticker-container {
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  width: 60vw;
  max-width: 950px;
}


@media screen and (max-width: 960px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
    height: 80vh;
    justify-content: center;
  }

  .pro-pic {
    width: 30vh;
  }

  .contact-description {
    width: 80vw;
    font-size: 14pt;
  }

  .sticker-container {
    width: 110vw;
  }
}

.sticker-item {
  height: 8vh;
  margin: 16px;

  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}

.delay1 {
  animation-delay: 0.5s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 1.5s;
}
.delay4 {
  animation-delay: 2s;
}
.delay5 {
  animation-delay: 2.5s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

