.contact-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  max-width: 950px;
  min-height: 80vh;
  margin: auto;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pro-pic {
  width: 40vh;
  border-radius: 5%;
}

.contact-description {
  width: 60vw;
  text-align: left;
  font-size: 16pt;
}

.sticker-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100vw;
  max-width: 950px;

  opacity: .5;
  z-index: -100;
}

@media screen and (max-width: 960px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
    height: 80vh;
    justify-content: center;
  }

  .pro-pic {
    width: 30vh;
  }

  .contact-description {
    width: 80vw;
    font-size: 14pt;
  }

  .sticker-container {
    
  }
}

.sticker-item {
  height: 8vh;
  margin: 16px;

  position: absolute;
  left: 0;
  top: 0;

  /* animation: bounce 3s infinite ease-in-out; */
  animation: fall 15s linear infinite;

}

.delay1 {
  animation-delay: 0.5s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 1.5s;
}
.delay4 {
  animation-delay: 2s;
}
.delay5 {
  animation-delay: 2.5s;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
